.container {
  position: relative;
  padding: 20px;
  background: linear-gradient(135deg, #0c63a6, #3bb9ec, #a1cd3a);
  border-radius: 10px;
  width: 90%;
  margin: 5vh auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  text-align: center;
}

.banner {
  background: linear-gradient(90deg, #0c63a6, #3bb9ec, #a1cd3a) !important;
  color: white;
  text-align: left;
  padding: 20px 0;
  padding-left: 15%;
}

.content {
  text-align: justify;
  padding: 40px;
}

.selection-and-image {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.selection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #ffffff;
}

.selection label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.selection input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

.hours {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.hour {
  display: inline-block;
  background-color: #e40230;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.hour:hover {
  background-color: #bc0a0a;
}

.image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.about-image {
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  border: 5px solid #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
  .selection-and-image {
    flex-direction: column;
    align-items: center;
  }

  .selection {
    align-items: center;
    text-align: center;
  }

  .about-image {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .hour {
    padding: 8px 10px;
    font-size: 0.9rem;
  }

  .selection input {
    max-width: 100%;
  }

  .about-image {
    width: 100%;
    margin-top: 0;
  }

  .back-btn {
    width: 35px;
    height: 35px;
  }

  .back-btn .material-icons {
    font-size: 20px;
  }
}
