.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(135deg, #79202e, #e40230);
  border-radius: 10px;
  width: 88%;
  height: 80vh;
  margin: 5vh auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  text-align: center;
}

.container {
  text-align: center;
  margin-top: 50px;
}

.hours {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}

.hour {
  display: inline-block;
  background-color: #e40230;
  padding: 8px 15px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.hour:hover {
  background-color: #bc0a0a;
  cursor: default;
}

.back-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #e40230;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.back-btn:hover {
  background-color: #bc0a0a;
  transform: scale(1.05);
}
