<div class="container">
    <div class="content">
        <h2>Szczegóły transakcji</h2>

        <p>Order ID: {{ futureTrip.orderId }}</p>
        <p>Name: {{ futureTrip.name }}</p>
        <p>Email: {{ futureTrip.email }}</p>
        <p>Phone: {{ futureTrip.phone }}</p>
        <p>Order Date: {{ futureTrip.orderDate }}</p>
        <p>Single Kayak: {{ futureTrip.kayakOne }}</p>
        <p>Double Kayak: {{ futureTrip.kayakTwo }}</p>
        <p>Combination Kayak: {{ futureTrip.kayakOne_Two }}</p>
        <p>Email Sent: {{ futureTrip.emailSend ? 'Yes' : 'No' }}</p>
    </div>
</div>
