<div class="banner">
  <h1>Kontakt</h1>
</div>
<div class="content">
  <div class="title-with-wave">
    <h2 class="title">Masz pytania? Skontaktuj się z nami!</h2>
    <img src="assets/line.svg" alt="Fala" class="wave-line">
  </div>

  <p class="intro-text">
    Jesteśmy do Twojej dyspozycji! Zapraszamy do kontaktu telefonicznego, poprzez media społecznościowe lub osobiście w
    naszej siedzibie. Chętnie pomożemy!
  </p>

  <div class="image-and-person">
    <img src="assets/image3.png" alt="Zdjęcie osoby" class="about-image">
    <div class="person">
      <div class="contact-item">
        <i class="fas fa-phone"></i>
        <span>Telefon: +48 660 826 302</span>
      </div>
      <div class="contact-item">
        <i class="fas fa-phone"></i>
        <span>Telefon: +48 602 520 166</span>
      </div>
      <div class="contact-item">
        <i class="fas fa-envelope"></i>
        <span>Email: info&#64;kajaki.lublin.pl</span>
      </div>
      <div class="contact-item">
        <a href="https://facebook.com/KajakiLublin" target="_blank" rel="noopener">
          <i class="fab fa-facebook"></i>
        </a>
        <span>facebook.com/KajakiLublin</span>
      </div>
      <div class="contact-item">
        <i class="fas fa-info-circle"></i>
        <span>Dane do korespondencji i rachunków:</span>
      </div>
      <div class="contact-item">
        <i class="fas fa-info-circle hidden"></i>
        <span>Staszica 8,</span>
        <span>20-081 Lublin</span>
      </div>
    </div>
  </div>
</div>

<div class="details">
  <h2>Szczegóły dojazdu</h2>
  <div class="details-wrapper">
    <div class="details-section">
      <div class="details-icon">
        <i class="fas fa-car"></i>
      </div>
      <h3 class="details-title">Autem</h3>
      <p class="details-text">
        Najwygodniejsza trasa z centrum Lublina prowadzi ulicą Nadbystrzycką, a następnie Janowską w kierunku
        Zemborzyc. Jadąc prosto, na wysokości ośrodka Marina należy skręcić na duży, niestrzeżony parking.
      </p>
    </div>

    <div class="details-section">
      <div class="details-icon">
        <i class="fas fa-bicycle"></i>
      </div>
      <h3 class="details-title">Rowerem</h3>
      <p class="details-text">
        Centrum Lublina można wygodnie dojechać ścieżką rowerową wzdłuż Bystrzycy aż do tamy nad Zalewem
        Zemborzyckim. Następnie należy skręcić w prawo i dojechać trasą rowerową do naszej bazy.
      </p>
    </div>

    <div class="details-section">
      <div class="details-icon">
        <i class="fas fa-bus"></i>
      </div>
      <h3 class="details-title">MPK</h3>
      <p class="details-text">
        Z centrum Lublina można dojechać autobusami linii nr 8 i 25. Należy wysiąść na przystanku „Marina” przy
        parkingu, skąd już tylko krok do naszej bazy.
      </p>
    </div>
  </div>
  <h2>Szczegóły dotyczące bazy i spływów</h2>
  <div class="details-foto">
    <div class="foto-item">
      <img src="assets/polcja.png" alt="Wejście od strony Zalewu Z" class="foto-image">
      <p class="foto-text">
        Nasza baza znajduje się na terenie ośrodka Marina przy ul. Krężnickiej 6, w budynku, w którym siedzibę mają
        również inne organizacje wodniackie (YK Politechniki, YK Polski, TK Fala itp.). <b>Wejście od strony Zalewu
        Zemborzyckiego.</b></p>

    </div>
    <div class="foto-item center">
      <img src="assets/parking.png" alt="Parking" class="foto-image">
      <p class="foto-text">
        Wyjazd na spływy kajakowe Bystrzycą odbywa się z parkingu ośrodka Marina (płatny, niestrzeżony, koszt
        całodniowego postoju wynosi 10 zł – płatność monetami w parkomacie) lub z naszej bazy. Parking położony jest
        równolegle do ulicy Krężnickiej. Wjazd na parking znajduje się za przystankiem MPK po lewej stronie, jadąc od
        Lublina.
      </p>
    </div>
    <div class="foto-item">
      <img src="assets/zalew.png" alt="Trasa spływu przez Zalew Z" class="foto-image">
      <p class="foto-text">Spływ obejmuje trasę przez Zalew Zemborzycki.</p>

    </div>
  </div>
  <div class="locations">
    <h2>Mapa dojazdu</h2>
    <div class="location">
      <h3>Wyjazdy znad Zalewu Zemborzyckiego:</h3>
      <p>ul Kręznicka 6, parking między ulicą a boiskiem</p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2444.0683468941886!2d22.523583776674602!3d51.189045179586975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472257a60fd30bf5%3A0x24c2f8e7d3e9066d!2sKr%C4%99znicka%206%2C%2020-515%20Lublin!5e0!3m2!1spl!2spl!4v1698675802799!5m2!1spl!2spl"
        width="100%"
        height="300"
        class="map"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
    <div class="location">
      <h3>Wyjazdy z Prawiednik:</h3>
      <p>ul Prawiednicka 1, obok mostu na Bystrzycy</p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4910.918264810956!2d22.499052491641942!3d51.140441073007824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4722547e958f17f9%3A0xe7a973b760bacf55!2sPrawiednicka%201%2C%2020-515%20Lublin!5e0!3m2!1spl!2spl!4v1698675823162!5m2!1spl!2spl"
        width="100%"
        height="300"
        class="map"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </div>
</div>
