<div class="container">
  <div class="content">
    <h1>Kontakt</h1>
    <p>Masz pytania? Skontaktuj się z nami:</p>

    <div class="contact-item">
      <i class="fas fa-phone"></i>
      <span>  Telefon: +48 660 826 302</span>
    </div>

    <div class="contact-item">
      <a href="https://facebook.com/KajakiLublin" target="_blank" rel="noopener">
        <i class="fab fa-facebook"></i>
      </a>
      <span>facebook.com/KajakiLublin</span>
    </div>


    <div class="contact-item">
      <a
        href="https://www.google.com/maps/place/Krężnicka+6,+20-515+Lublin/@51.1917601,22.5264278,17z/data=!3m1!4b1!4m6!3m5!1s0x472257dfbdbd8827:0xbe6c19179b4c9d7f!8m2!3d51.1917601!4d22.5290027!16s%2Fg%2F11c4sktjzt?entry=ttu&g_ep=EgoyMDI1MDMwMy4wIKXMDSoJLDEwMjExNDUzSAFQAw%3D%3D"
        target="_blank" rel="noopener">
        <i class="fas fa-map-marker-alt"></i>
      </a>
      <span>  Adres: ul. Krężnicka 6, 20-518 Lublin</span>
    </div>
  </div>
</div>
