<div class="banner">
  <h1>O Nas</h1>
</div>
<div class="content">
  <div class="title-with-wave">
    <h2 class="title">Spływy kajakowe to nasze hobby</h2>
    <img src="assets/line.svg" alt="Fala" class="wave-line" style="box-shadow: none; filter: none;">
  </div>

  <p class="intro-text">
    Spływy kajakowe to nasze hobby i sposób na spędzenie wolnego czasu. Od wielu lat pływamy po rzekach Lubelszczyzny,
    Polski i Europy. Zaowocowało to
    <strong>sporym doświadczeniem i wiedzą na temat bezpieczeństwa, sprzętu i prowadzenia spływów</strong>. Posiadamy
    niezbędne uprawnienia instruktorskie i ratownicze
    w zakresie kajakarstwa. Prowadzimy również kursy i szkolenia. Nie jesteśmy więc typową wypożyczalnią sprzętu
    wodnego.
  </p>
  <div class="image-and-person">
    <img src="assets/kayak.png" alt="Zdjęcie osoby" class="about-image">
    <div class="person">
      <h3 class="person-name">Radek</h3>
      <p>
        Absolwent AWF Kraków kierunek Turystyka i Rekreacja. Zainteresowania związane ze sportami wodnymi, przyczyniły
        się do uzyskania wielu uprawnień takich jak:
        instruktor rekreacji spec. kajakarstwo, instruktor sportu spec. Pływanie, młodszy ratownik WOPR oraz patentu
        żeglarza jachtowego. Przygodę z kajakarstwem
        zaczął na początku studiów uczestnicząc w wielu obozach kajakowych oraz praktykach w Szkole kajakarstwa
        górskiego i raftingu RETENDO. Kolejne lata poświęcone
        były na zdobywanie odpowiednich kwalifikacji (Kurs kajakarstwa górskiego organizowany przez ATK Bystrze,
        weryfikacja na PSKK IV stopień) oraz poznawanie
        szlaków wodnych w Polsce i zagranicą. Dzięki doświadczeniu i nabytym umiejętnościom, przygotuje i sprawnie
        poprowadzi spływy kajakowe.
      </p>
      <div class="person">
        <h3 class="person-name">Szymon</h3>
        <p>
          Kajakarstwem zajmuje się od połowy lat dziewięćdziesiątych. Początki przygody z kajakami rozpoczynał w klubach
          kajakowych Galeryja i Ciernik.
          W następnych latach aktywnie działał w Sekcji Turystyki Różnej przekształconej potem w Klub Kajakowy Kontra.
          Zafascynowany kajakarstwem górskim brał
          udział w wyprawach po rzekach całej Europy. Zdobywał doświadczenie pływając m.in. w Alpach, Pirenejach i na
          Kaukazie. W ostatnich latach odkrywa na nowo
          szlaki kajakowe na Lubelszczyźnie i za naszą wschodnią granicą organizując spływy oraz wyprawy na Ukrainę i
          Białoruś. Organizator kursów kajakowych,
          instruktor kajakarstwa, doskonale posługujący się wszystkimi technikami wiosłowania. Prywatnie z żoną
          Agnieszką
          i dziećmi pływa kanu.
        </p>
      </div>
    </div>
  </div>
</div>
