<div class="gallery-container">
  <div class="gallery" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
    <div class="gallery-slide" *ngFor="let image of galleryImages">
      <img [src]="image" alt="Gallery Image" />
    </div>
  </div>
  <button class="prev-button" (click)="prevImage()">&#10094;</button>
  <button class="next-button" (click)="nextImage()">&#10095;</button>
</div>

<div class="container">
  <div class="content">
    <h2 class="section-title">Zapraszamy na spływy kajakowe po najpiękniejszych rzekach Lubelszczyzny</h2>
    <p>
      Spływy kajakowe to od lat bardzo popularna i ciekawa forma aktywnego wypoczynku. Płynąc kajakiem możesz odkryć świat z zupełnie nowej perspektywy.
      Otaczająca dzika przyroda, cisza i spokój pozwolą Ci na pełen relaks i oderwanie od codziennych spraw. Lekki wysiłek przy wiosłowaniu i pokonane
      kilometry będą źródłem niespotykanych wrażeń i ogromnej satysfakcji!
    </p>
    <h3 class="subheading">Trasy na Lubelszczyźnie</h3>
    <p>
      Nasze kajaki pływają po najpiękniejszych rzekach Lubelszczyzny. Wartka Bystrzyca, szeroka i spokojna Wisła, schowana w Lasach Janowskich Bukowa
      czy płynąca przez Polesie Włodawka to doskonałe trasy na jedno i kilkudniowe spływy kajakowe. To także okazja do poznania najciekawszych
      zakątków naszego regionu!
    </p>
    <h3 class="subheading">Co oferujemy?</h3>
    <p>
      Dzięki wieloletniemu doświadczeniu przy prowadzeniu spływów kajakowych nasze usługi możemy skierować do szerokiego grona klientów.
      Obsługujemy spływy kajakowe dla osób indywidualnych, grup, szkół i uczelni oraz firm, jako forma integracji pracowników.
    </p>
    <div class="routes">
      <button
        class="route btn"
        *ngFor="let trace of traces"
        [routerLink]="['/trace', trace.id]"
        [attr.aria-label]="'Navigate to route ' + trace.id"
      >
        Trasa {{ trace.description }}
      </button>
    </div>
  </div>
</div>
