<div class="container">
  <div class="content">
    <h2>Logowanie</h2>
    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
      <div class="form-group">
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required/>
      </div>
      <div class="form-group">
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required/>
      </div>
      <button type="submit" class="login-button" [disabled]="loginForm.invalid">Zaloguj się</button>
    </form>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

    <button type="button" class="reset-password-button" (click)="onResetPassword()">Resetuj hasło</button>
  </div>
</div>
