body {
  background: linear-gradient(135deg, #ffffff, #f7f7f7, #eaeaea);
  background-attachment: fixed;
  background-size: cover;
  color: #000000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(135deg, #79202e, #e40230);
  border-radius: 10px;
  margin: 0 5%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

header .logo,
header .cart {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e40230;
  color: #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s, transform 0.3s, color 0.3s;
  cursor: pointer;
}

header .logo:hover,
header .cart:hover {
  background-color: #bc0a0a;
  transform: scale(1.1);
}

header .shop-name {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  text-transform: uppercase;
}

header .shop-name:hover {
  color: #ffcccc;
  transition: color 0.3s;
}

header .material-icons {
  font-size: 24px;
  transition: transform 0.3s, color 0.3s;
  color: #ffffff;
}

header .material-icons:hover {
  transform: rotate(20deg);
}

header .cart {
  position: relative;
}

header .cart .cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #e40230;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
