<div class="banner">
  <h1>Nasz sprzęt</h1>
</div>
<div class="content">
  <div class="title-with-wave">
    <h2 class="title">Wypożyczalnia kajaków</h2>
    <img src="assets/line.svg" alt="Fala" class="wave-line" style="box-shadow: none; filter: none;">
  </div>
  <div class="image-and-text">
    <img src="assets/KayakRental.png" alt="Zdjęcie wypożyczalni kajaków" class="large-image"/>
    <div class="text-content">
      <p class="intro-text">
        Nowoczesne i wygodne kajaki to nasza wizytówka. Dysponujemy sprzętem czołowych europejskich producentów,
        posiadającym niezbędne atesty bezpieczeństwa. Wszystkie kajaki wykonane są z wytrzymałych materiałów odpornych
        na uszkodzenia. Komfortowe siedzenia, regulowane podnóżki oraz dodatkowe akcesoria gwarantują przyjemność
        płynięcia!
      </p>
    </div>
  </div>

  <div class="content-with-gallery">
    <div class="text-and-table">
      <h3>Kajak Perception Vista</h3>
      <p>
        Dwuosobowy, superwygodny kajak turystyczny dla początkujących i zaawansowanych. Komfortowe i miękkie
        siedziska, regulowane podnóżki i obszerny kokpit czynią Visie najpopularniejszym kajakiem na nizinnych
        szlakach.

        Na wyprawach kajakowych najlepiej sprawdzi się <strong>wersja ze szczelnym lukiem bagażowym.</strong>
      </p>
      <table class="styled-table">
        <thead>
        <tr>
          <th>Model</th>
          <th>Materiał</th>
          <th>Długość</th>
          <th>Szerokość</th>
          <th>Waga</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Perception VISTA</td>
          <td>Polietylen</td>
          <td>485 cm</td>
          <td>82 cm</td>
          <td>37 kg</td>
        </tr>
        </tbody>
      </table>
    </div>
    <img src="assets/gallery/kayak/bluekajak.png" alt="Zdjęcie wypożyczalni kajaków" class="image-right">
  </div>

  <div class="content-with-gallery-center">
    <div class="text-and-table">
      <h3>Kajak RTM BRIO</h3>
      <p>
        Stabilny, dwuosobowy kajak rekreacyjno – turystyczny. Posiada dodatkowe siedzenie dla małego dziecka!
      </p>
      <table class="styled-table">
        <thead>
        <tr>
          <th>Model</th>
          <th>Materiał</th>
          <th>Długość</th>
          <th>Szerokość</th>
          <th>Waga</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>ROTOMOD BRIO</td>
          <td>polietylen</td>
          <td>395 cm</td>
          <td>83 cm</td>
          <td>33 kg</td>
        </tr>
        </tbody>
      </table>
    </div>
    <img src="assets/gallery/kayak/rtm.png" alt="Zdjęcie kajaka RTM BRIO" class="image-right">
  </div>

  <div class="content-with-gallery">
    <div class="text-and-table">
      <h3>Kajak KANU Apache 16</h3>
      <p>
        „Apache – 16” to jednostka idealna dla rodziny, wytrzymała i stabilna. Posiada bardzo obszerny kokpit i trzy
        miejsca siedzące. Bez obaw można zabrać dzieci lub zwierzaki. Sprawdzi się również na kilkudniowych spływach,
        spokojnie mieszcząc cały sprzęt turystyczny i niezbędny ekwipunek.
      </p>
      <table class="styled-table">
        <thead>
        <tr>
          <th>Model</th>
          <th>Materiał</th>
          <th>Długość</th>
          <th>Szerokość</th>
          <th>Waga</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>KANU Apache 16</td>
          <td>polietylen</td>
          <td>480 cm</td>
          <td>94 cm</td>
          <td>36 kg</td>
        </tr>
        </tbody>
      </table>
    </div>
    <img src="assets/gallery/kayak/green.png" alt="Zdjęcie wypożyczalni kajaków" class="image-right">
  </div>
</div>

<div class="banner">
  <h1>Centrum Testowe Kajaków Perception</h1>
  <p> Ponadto prowadzimy centrum testowe kajaków Perception. W naszej bazie nad Zalewem Zemborzyckim posiadamy
    praktycznie wszystkie modele tej marki. Kajaki do testów dostarczyła firma KANOKAJKI.PL</p>
</div>
<div class="text-content">
  <p class="intro-text">
    Wszystkich miłośników kajakarstwa zapraszamy do odwiedzenia naszej bazy nad Zalewem Zemborzyckim. Mamy do
    dyspozycji niemal dwadzieścia różnych modeli kajaków , każdy może przetestować na wodzie stojącej lub rzece
    właściwości każdego z nich. Dzięki temu łatwiej będzie podjąć decyzje jaki sprzęt nam najbardziej odpowiada, co
    skutkuje późniejszym komfortem w codziennym użytkowaniu. Posiadamy większość modeli angielskiej firmy Perception,
    której dystrybutorem jest firma KANO z Lublina mająca swoją siedzibę w bezpośredniej bliskości od naszej siedziby,
    co jest szczególnie istotne jeśli chcemy od razu dokonać zakupu. </p>
  <p>
    Perception to marka znana na całym świecie, od lat obecna w naszym kraju. Można powiedzieć że na dzień dzisiejszy
    to najbardziej popularny wśród naszych kajakarzy producent. Wynika to nie tylko z dobrej relacji jakość – cena ,
    ale głównie z właściwości nautycznych i przemyślanych rozwiązań konstrukcyjnych. Dochodzi do tego szeroka gama
    modeli przeznaczonych na „różne” wody oraz preferencje użytkowników. </p>
  <p>

    Centrum testowe to nie tylko sprzęt, ale przede wszystkim osoby mogące doradzić w wyborze i późniejszej
    eksploatacji kajaka. Dzięki organizacji wielu wypraw bliższych i dalszych mieliśmy okazję przekonać się że kajaki
    Perception to dobry wybór, a ich trwałość i solidność gwarantuje długoletnie i bezpieczne użytkowanie.
  </p>

  <b> Test na zalewie:</b> 15 zł<br>
  <b> Test na rzece – spływ 2 godzinny:</b> 50 zł , cena zawiera transport
</div>

<div class="content">
  <div class="title-with-wave">
    <h2 class="title">Lista dostępnych modeli:</h2>

      <div class="foto-and-table-single">
        <h3>Kajak Perception VISTA</h3>
        <table class="styled-table">
          <thead>
          <tr>
            <th>Model</th>
            <th>Materiał</th>
            <th>Długość</th>
            <th>Szerokość</th>
            <th>Waga</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Perception VISTA</td>
            <td>polietylen</td>
            <td>485 cm</td>
            <td>82 cm</td>
            <td>37 kg</td>
          </tr>
          </tbody>
        </table>
      </div>
      <img src="assets/gallery/kayak/bluekajak.png" alt="Zdjęcie wypożyczalni kajaków" class="image-right">
    </div>

    <div class="foto-and-table-single">
      <h3>Kajak Perception PRODIGY II Std.</h3>
      <table class="styled-table">
        <thead>
        <tr>
          <th>Model</th>
          <th>Materiał</th>
          <th>Długość</th>
          <th>Szerokość</th>
          <th>Waga</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Perception PRODIGY II std.</td>
          <td>polietylen</td>
          <td>442 cm</td>
          <td>79 cm</td>
          <td>34 kg</td>
        </tr>
        </tbody>
      </table>
    </div>
    <img src="assets/gallery/kayak/redkajak.png" alt="Zdjęcie wypożyczalni kajaków" class="image-right">
  </div>

